body {
    text-align: center;
    background: #222;
    color: white;
    font-family: Arial;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    width: 560px;
    margin: 20px auto;
}

.cell {
    width: 70px;
    height: 70px;
}

.dark { background: #444; }
.light { background: #ddd; }

.piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
}

.red { background: red; }
.blue { background: blue; }

.king {
    border: 3px solid gold;
}